<!DOCTYPE html>
<html>
    <head>       
        <% if(locals.extra.title){ %>
        <title><%= extra.title %></title>
        <% }else{ %>
        <title>Play</title>
        <% } %>
        <link rel="stylesheet" type="text/css" href="/css/navbar.css">
        <link rel="stylesheet" type="text/css" href="/css/play.css">
        <link rel="icon" href="/favicon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    </head>
    <body>
        <nav>
            <span id = "navLogo" onclick="window.location = '/'">CW</span>
            <ul class = "navLinks">
                <li id = "cross"></li>
                <li><a href = "/techathlon/">About</a></li>
                <li  id = "selectedLink"><a href = "#">Play</a></li>
                <li><a href = "/techathlon/leaderboard">Leaderboard</a></li>
                <li><a href = "https://discord.gg/uG6pzB9" target="_blank">Discord</a></li>
                <li id = "logoutImg"><img src = "/images/logout.png"  onclick = "window.location='/techathlon/logout'"></li>
                <li id = "logoutText"><a href = "/techathlon/logout">Log out</a></li>
            </ul>
            <div id="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
        <div class="root">
        <div class="container">
            <span id = "title"><%= title %></span>
            <div id = "questionBox">

                <% for(let i=0;i < text.length;i++){ %>
                    <span style = <%= "order:" + text[i].order%>><%= text[i].content %></span>
                <% } %>

                <% if(locals.extra.images){ %>
                    <% for(let i=0;i < extra.images.length;i++){ %>
                    <div class = "imageGrid" style = <%= "order:" + extra.images[i].order%>>
                        <% for(let j=0;j< extra.images[i].src.length;j++){ %>
                            <img src= <%= "/images/" + extra.images[i].src[j] %> alt="image">
                        <% } %>
                    </div>
                    <% } %>
                <% } %>
            </div>
            <form action = "/techathlon/play" method="POST">
                <% if(locals.error){ %>
                    <span class="error">Incorrect answer!</span>
                    <input type="text" class = "ans errorInput" placeholder="Answer" name="answer" autocomplete="off" id = "answer">
                <% } else { %>
                    <span class="error">&nbsp;</span>
                    <input class = "ans" type="text" placeholder="Answer" name="answer" autocomplete="off" id = "answer">
                <% } %>
                <button onclick="answerSubmit()">Submit</button>
            </form>               
        </div>
        </div>
        <script>
            const burger = document.getElementById("hamburger");
            const cross = document.getElementById("cross");
            const nav = document.querySelector(".navLinks");
            const navLinks = document.querySelectorAll(".navLinks li a");

            burger.addEventListener("click",() => {

                nav.classList.add("nav-active");
                navLinks.forEach(function(link,index){
                    link.style.opacity = 0;
                    link.style.animation = `navLinkFade 0.5s ease forwards ${index/12+0.1}s`;
                });
            });
            cross.addEventListener("click",() => {
                nav.classList.remove("nav-active");
                navLinks.forEach(function(link,index){
                    link.style.animation = "";
                    link.style.opacity = 1;
                });
            });
        </script>
        <script>
            const form = document.querySelector("form")
            const answerBox = document.querySelector("form #answer");
            const answerError = document.querySelector("form .error");
            
            function answerSubmit(){
                if(answerBox.value.length < 1){
                    answerError.innerHTML = "Please enter an answer"
                    answerBox.classList.add("errorInput");
                    return
                }else{
                    document.getElementById("form").submit();
                }
            }

            answerBox.addEventListener("focus",() => {
                if(answerBox.classList.contains("errorInput")){
                    answerBox.classList.remove("errorInput");
                    answerError.innerHTML = "&nbsp;";
                }
            });

        </script>
    </body>
<% if(locals.extra.comment){ %>
<!--
<% let comment = extra.comment %>
<%- comment.replace(" \\n", "\n") %>
-->
<% } %>
</html>